@charset "UTF-8";

body {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/nasty_fabric.png)
}


#caja .botones {
	list-style:none;
	width:100%;
	margin: 0px auto;
	text-align:center;
	padding:10px;
}
#caja .controles {
	list-style:none;
	padding:10px;
	width:80%;
	margin: 0px auto;
	border:1px solid silver;
	border-radius:10px;
	text-align:center;
}
#caja .botones li {
	
	display:inline-block;
	padding:5px;
	margin: 5px auto;
	border:1px solid silver;
	border-radius:10px;
}
#caja .botones li  img{
	width:80px;
}
#puntuacion {
  position: absolute;
  background: #330000;
  top: 30px;
  left: 650px;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 50px;
  margin-left: 90px;
  margin-top: 170px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
#strict {
	position: absolute;
	top:0px;
	left:0px;
	height:100px;
	width:100px;
}
#sound {
	position: absolute;
	top:80px;
	left:0px;
	height:100px;
	width:100px;
}
#image {
	position: absolute;
	top:160px;
	left:0px;
	height:100px;
	width:100px;
}

#simonc {
	position: absolute;
	top:25px;
	left:150px;
	height:60px;
	width:150px;
}

#simons {
	position: absolute;
	top:105px;
	left:150px;
	height:60px;
	width:150px;
}

#simonm {
	position: absolute;
	top:185px;
	left:150px;
	height:60px;
	width:150px;
}

#simoncselect {
	position: relative;
	top:40px;
	left:315px;
	height:20px;
	width:20px;
	
}

#simonsselect {
	position: absolute;
	top:125px;
	left:325px;
	height:20px;
	width:20px;
	
}

#simonmselect {
	position: absolute;
	top:205px;
	left:325px;
	height:20px;
	width:20px;
	
}

#botonA6 {
	position: absolute;
	top:0px;
	left:650px;
	
}

#botonA0 {
	position: absolute;
	top:50px;
	left:550px;
	
}

#botonA2 {
	position: absolute;
	top:300px;
	left:550px;
	
}

#botonA4 {
	position: absolute;
	top:150px;
	left:500px;
	
}

#botonA7 {
	position: absolute;
	top:350px;
	left:650px;
	
}

#botonA5 {
	position: absolute;
	top:150px;
	left:850px;
	
}

#botonA3 {
	position: absolute;
	top:300px;
	left:780px;
}

#botonA1 {
	position: absolute;
	top:50px;
	left:780px;
	
}
#score {
  position: absolute;	
  background: transparent;
  font-family:verdana;
  color: black;
  font-weight: 1000;
  top: 175px;
  left: 742px;
  text-align: center;
  height:20px;
  width:50px;
  border:0px;
  
}

#cuentaatras {
  position: absolute;
  background: #330000;
  top: -100px;
  left: 900px;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 50px;
  margin-left: 90px;
  margin-top: 170px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

#time {
  position: absolute;	
  background: transparent;
  font-family:verdana;
  color: black;
  font-weight: 1000;
  top: 50px;
  left: 990px;
  text-align: center;
  height:20px;
  width:50px;
  border:0px;
  
}
